.weather-home {
  height: calc(100vh - 113px);
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;

  mat-form-field {
    width: 450px;
    max-height: 56px;
    margin-bottom: 32px;
  }
}
