<div class="weather-home">
  <mat-form-field appearance="outline">
      <mat-label>Type city name...</mat-label>
      <input [formControl]="searchControl" matInput type="text"/>

      <mat-error *ngIf="searchControl.hasError('invalidCity')">Please enter a valid city</mat-error>
      <mat-error *ngIf="searchControl.hasError('serverErr')">Something went wrong. Please try again</mat-error>
      <mat-error *ngIf="searchControl.hasError('empty')">Please enter city</mat-error>
    </mat-form-field>

  <ng-container *ngIf="!loading && details">
    <app-weather-details [currentWeather]="details"></app-weather-details>
  </ng-container>
</div>

