<mat-card class="details">
  <mat-card-content>

    <div class="font-56">{{ currentWeather.name }}</div>
    <div class="font-12">{{ currentWeather.date | date : 'ccc d' }}</div>
    <div class="font-32">{{ currentWeather.temp | number: '1.0-0' }}°</div>
    <div class="font-20">{{ currentWeather.description | titlecase }}</div>

    <mat-icon (click)="toggleFavorite()"
              class="material-icons-outlined favorite">{{ (this.isFavorite$ | async) ? 'star' : 'grade' }}
    </mat-icon>

    <mat-divider></mat-divider>

    <div class="forecast">
      <div *ngFor="let day of currentWeather.forecast" class="item font-16">
        <div>{{ day.dt_txt | date : 'ccc d' }}</div>
        <div class="font-12"><span>{{ day.temp_min | number: '1.0-0' }}°</span>/<span>{{ day.temp_max | number: '1.0-0' }}°</span></div>
        <div class="font-8">{{ day.description }}</div>
      </div>
    </div>
  </mat-card-content>
</mat-card>


