.details {
  position: relative;
  text-align: center;
  display: flex;
  align-items: center;
  min-width: 450px;


  .favorite {
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
  }

  .font {
    &-8 {
      font-size: 8px;
    }

    &-12 {
      font-size: 12px;
    }

    &-16 {
      font-size: 16px;
    }

    &-20 {
      font-size: 20px;
    }

    &-32 {
      font-size: 32px;
    }

    &-56 {
      font-size: 56px;
    }

  }

  mat-divider {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

.forecast {
  display: flex;

  .item {
    margin: 8px;
    padding: 8px;
    border-radius: 4px;
    background: lightgray;
  }
}
