.card-width {
  width: fit-content;
}

.details {
  display: flex;
  margin: 12px;

  .city {
    margin-right: 12px;
    display: flex;
    flex-direction: column;
  }

  .info {
    display: flex;
    justify-content: space-between;
    flex: 1;

    mat-icon {
      cursor: pointer;
    }
  }
}

.forecast {
  display: flex;

  mat-card {
    margin: 12px;
    padding: 8px;
  }
}
