.weather-container {
  height: calc(100vh - 113px);
  overflow: auto;
  background-image: url('../assets/images/background.jpg');
  background-size: cover;
}

mat-toolbar {
  background: #0eb3b0;
  font-weight: bold;
  font-size:32px;
  color: #ffffff;
}
